{% extends 'base.html.twig' %}

{% block title %}WITW App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('mainAppCss') }}
{% endblock %}

{% block body %}
    <header class="navbar-background-blue">
        <a id="logout-button" class="btn btn-light btn-sm" href="{{ path('user_logout') }}">Log Out</a>
        <div class="menu-buttons">
            <button class="btn btn-light btn-sm float-left menu-btn">Add category</button>
            <button class="btn btn-outline-secondary btn-sm float-left menu-btn">Edit words</button>
            <button class="btn btn-outline-secondary btn-sm float-left menu-btn">Help</button>
        </div>
    </header>

    <div id="categories">
    {% for category in categories %}
        <div class="category-container">
            <div class="category">
                <div class="category-title">{{ category.title }}</div>
                <div id="create-word-cell-{{ category.id }}" class="create-word-cell">
                    <p class="small" data-category-id="{{ category.id }}" onclick="showWordCreationForm(this)">+ Add new word</p>
                </div>

                {% include 'main_app_modules/create_new_word.html.twig' %}

                <div id="words-{{ category.id }}">
                {% for word in category.words %}
                    <div class="word-cell">
                        <p class="word-text small">{{ word.main }}</p>
                    </div>
                    <p id="arrow">➡️</p>
                    {% if false %}
                        <input class="answer small" type="text" maxlength="16" placeholder="new translation"/>
                    {% elseif (word.answerDate < date('-12 hours')) %}
{#                    {% elseif (word.answerDate > date('-12 hours')) %}#}
                        <input class="answer small" maxlength="16" type="text" />
                    {% else %}
                    <div class="word-cell">
                        <input class="translation small" maxlength="16" type="text" value="{{ word.translation }}" />
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wordCreator') }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}