{% extends 'base.html.twig' %}

{% block title %}WITW App{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('mainAppCss') }}
{% endblock %}

{% block body %}
    <header class="navbar-background-blue">
        <a id="logout-button" class="btn btn-light btn-sm" href="{{ path('user_logout') }}">Log Out</a>
        <div class="menu-buttons">
            <button class="btn btn-light btn-sm float-left menu-btn" onclick="addFormToCreateCategory()">Add category</button>
        </div>
    </header>

    <div id="categories">
    {% for category in categories %}
        <div id="category-container-{{ category.id }}" class="category-container">
            <div class="category">
                <div id="category-title-{{ category.id }}">
                    <div class="category-title" onclick="enableTitleEditMode(this)" data-category-id="{{ category.id }}">{{ category.title }}</div>
                </div>
                <div id="create-word-cell-{{ category.id }}" class="create-word-cell">
                    <p class="small" data-category-id="{{ category.id }}" onclick="showWordCreationForm(this)">+ Add new word</p>
                </div>

                {% include 'main_app_modules/create_new_word.html.twig' %}

                <div id="words-{{ category.id }}">
                {% for word in category.words %}
                    <div id="word-{{ word.id }}" class="word" data-word-id="{{ word.id }}">
                        <div class="word-cell">
                            <p class="word-text small">{{ word.main }}</p>
                        </div>
                        <p id="arrow-{{ word.id }}" class="arrow" onclick="removeWord({{ word.id }})">➡️</p>
                        {% if (word.answerDate < date('-12 hours')) %}
                            <form data-word-id="{{ word.id }}" onsubmit="checkAnswer(this, event)">
                                <input id="answer-{{ word.id }}" class="answer small" maxlength="16" type="text" autocomplete="off" />
                                <button type="submit" hidden></button>
                            </form>
                        {% else %}
                        <div class="word-cell">
                            <input class="translation small" maxlength="16" type="text" value="{{ word.translation }}" />
                        </div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('wordCreator') }}
    {{ encore_entry_script_tags('answerChecker') }}
    {{ encore_entry_script_tags('categoryCreator') }}
    {{ encore_entry_script_tags('editModeServices') }}
    {{ encore_entry_script_tags('wordRemover') }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
{% endblock %}